#footer {
  background-color: #f7f8f9;
  transition: background-color $transition * 2;
}

.footer {
  @include row($justify: space-between, $align: center);
  padding: $spacer * 8 0;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: $spacer * 2;
  }

  .copyright {
    text-align: center;
  }
}

.social-icon {
  @include row();
  gap: $spacer * 1.5;

  .social {
    @include icon();
    background-color: $primary-color;

    &:hover {
      background: transparent;
    }
  }
}

.social-hover:hover {
  color: $text-light-color;
}
