header {
  height: calc(100vh - $spacer * 2);
}
.header-fixed {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: $bg-color;
  height: $spacer * 8;
  transition: background-color $transition * 2;
}
.container {
  @include container_width();
}

.header {
  @include row($align: center, $justify: space-between);
  min-height: $spacer * 8;
  padding-top: $spacer * 2;
  padding-bottom: $spacer * 2;

  #logo {
    margin-bottom: 0;
    text-transform: uppercase;
  }

  .toggle-btn {
    display: inline-block;
    width: 25px;
    height: 17px;
    position: relative;
    margin-left: auto;
    z-index: 100;
    transition: $transition;

    & > span {
      @include toggle_btn();
      top: 0;
    }

    &::before {
      content: "";
      @include toggle_btn();
      top: calc(50% - 1px);
    }
    &:after {
      content: "";
      @include toggle_btn();
      bottom: 0;
    }

    @media (min-width: 1024px) {
      display: none;
    }
  }
}

.navigation {
  width: 100%;
  @include row($align: center);
  gap: $spacer * 2;
  font-weight: 700;
  font-size: 13px;
  transition: background-color $transition * 2;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }
}

.nav-link {
  transition: color $transition;
}
.nav-link:hover,
.active {
  color: $primary-color;
}

.dark-bg {
  background-color: $bg-dark-theme;
}
.dark-content {
  color: $text-light-color;
}
#dark-btn {
  @include button();
  @include row($align: center);
  gap: $spacer / 2;
  cursor: pointer;
  padding: $spacer/2 $spacer * 2;

  #btn-dark-text {
    font-size: 13px;
  }
  #btn-dark-icon {
    width: $spacer * 2;
    // height: $spacer * 2;
    margin-left: auto;
  }
}

@media (max-width: 1024px) {
  .navigation-list {
    @include column($align: center, $justify: center);
    // padding: $spacer * 12;
    width: 100%;
    height: 0;
    position: fixed;
    top: $spacer * 8;
    right: 0;
    bottom: 0;
    z-index: 99;
    transition: background-color $transition * 2;
    background-color: $bg-color;
    box-shadow: 0 6px 15px rgba(206, 212, 218, 0.3);
    overflow-y: hidden;
  }
  #burger-menu:checked + .navigation-list {
    height: 280px;
    transition: $transition;

  }
}

.box-shadow {
  box-shadow: 0 6px 15px rgba(206, 212, 218, 0.3);
}
.bg-dark-menu {
  background-color:$bg-dark-theme;
}
