header {
  height: calc(90vh - $spacer * 2);
}

.container {
  @include container_width();

  .header {
    @include row($align: center, $justify: space-between);
    min-height: $spacer * 8;
    margin-top: $spacer * 2;

    #logo {
      margin-bottom: 0;
      text-transform: uppercase;
    }

    .toggle-btn {
      display: inline-block;
      width: 25px;
      height: 17px;
      position: relative;
      margin-left: auto;
      z-index: 100;

      & > span {
        @include toggle_btn();
        top: 0;
      }

      &::before {
        content: "";
        @include toggle_btn();
        top: calc(50% - 1px);
      }
      &:after {
        content: "";
        @include toggle_btn();
        bottom: 0;
      }

      @media (min-width: 768px) {
        display: none;
      }
    }

    .navigation-list {
      .navigation {
        width: 100%;
        @include row();
        gap: $spacer * 2;
        font-weight: 700;
        font-size: 13px;

        @media (max-width: 767px) {
          @include column($align: center);
          padding: $spacer * 12;
          width: 230px;
          height: 100vh;
          position: fixed;
          top: 0;
          right: -230px;
          bottom: 0;
          z-index: 99;
        }
      }
    }

    // why????
    #burger-menu:checked + .navigation-list {
      right: 0;
    }
  }
  // @media (min-width: 567px) {
  //   max-width: 100%;
  // }
}
