.portfolio-titles {
  width: 100%;
  @include row($justify: center);
  gap: $spacer * 4;
  text-transform: uppercase;
  font-weight: 600;
  padding-top: $spacer * 2;
}

.title-style {
  cursor: pointer;
}

.active-subject {
  color: $primary-color;
}

.my-project {
  width: 100%;
  @include row($justify:center);
  margin-top: $spacer * 3;
  gap: $spacer * 2.5;

  .img-project-container{
    width: calc(100% / 3 - $spacer * 2.5);

    @media screen and (max-width: 1024px) {
      width: calc(100% / 2 - $spacer * 2.5);
    }
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
}

.img-project {
  width: 100%;
  cursor: pointer;
  transform: scale(1);
  transition: transform $transition;

  &:hover {
    transform: scale(1.1);
    border: 2px solid $primary-color;
  }
 
}

.slider-icon-container {
  font-size: $spacer * 3;
  & > i:hover {
    color: $primary-color;
  }
}

// hire me section
.hire-me {
  @include row($justify: space-between, $align: center);
  padding: $spacer * 2;
  background-color: $primary-color;
  border-radius: $spacer;

  & > div {
    h4 {
      padding: $spacer * 2 0 $spacer;
      margin: 0;
      font-size: $spacer * 2.5;
    }
    p {
      @media screen and (max-width: 566px) {
        margin-bottom: $spacer * 2;
      }
    }
  }

  .hire-me-btn {
    @include button($background: #f8f9fa, $bg-hover-color: #e2e6ea);
    text-transform: capitalize;
  }

  @media screen and (max-width: 566px) {
    display: block;
    text-align: center;
  }
}
