.progress-container {
  @include grid($col: 2, $gap: $spacer * 4);
  width: 100%;
  padding-right: $spacer * 4;
  padding-left: $spacer * 4;

  .title-container {
    width: 100%;
    @include row($align: center);
    flex-wrap: nowrap;
  }

  @media screen and (max-width: 1010px) {
    grid-template-columns: 100%;
  }
}

.title-logo {
  @include icon($width: $spacer * 10, $height: $spacer * 10);
  margin-right: $spacer * 2;

  .title-skill {
    text-transform: uppercase;

    @media screen and (max-width: 425px) {
      font-size: $spacer * 1.75;

    }
  }
  @media screen and (max-width: 425px) {
    @include icon($width: $spacer * 7, $height: $spacer * 7);

  }
}

.progress {
  width: 100%;

  .progress-line {
    display: block;
    width: $spacer * 40;
    height: $spacer * 4;
    background-color: $bg-progress;
    position: relative;

    & > div {
      background-color: $secondary-color;
      height: $spacer * 4;
    }

    @media screen and (max-width: 1010px) {
      width: 100%;
    }
  }
  .progress-skill {
    text-transform: capitalize;
    @media screen and (max-width: 425px) {
      font-size: $spacer * 1.75;
    }
  }
}
.dark-color-title {
  color: $secondary-color-dark-theme;
}