// colors

$primary_color: #FECF77;

$secondary-color: #F0B9EA;

$body-color: #495057;

$text-light-color: #fff;

$bg-color: #ffffff;

// fonts

$font_family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

//   spacers

$spacer: 8px;

// btn spacers

$padding-btn-x: 16px;

$padding-btn-y: 8px;
