// colors

$primary_color: #FECF77;

$secondary-color: #D09CFA;

$text-dark-color: #495057;

$text-light-color: #EEEEEE;

$bg-progress: #eaf0fc; 

$bg-color: #ffffff;

$hover-color-btn: #e2e6ea;

$bg-dark-theme: #222831;

$secondary-color-dark-theme: #393E46;
// fonts

$font_family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

//   spacers

$spacer: 8px;

// btn spacers

$padding-btn-x: 16px;

$padding-btn-y: 8px;

$transition: 0.4s;


